.button {
    font: inherit;
    border: 1px solid #8d5eda;
    /* border-radius: 5px; */
    background: #8d5eda;
    color: white;
    padding: 0.25rem 1.25rem;
    cursor: pointer;
    /* width: 7rem; */
    margin-top: 1rem;
}

.button:hover,
.button:active {
    background: #8045df;
    border-color: #8045df;
}

.button:focus {
    outline: none;
}