:root {
    /* color */
    --primary-color: #3b5998;
    --secondary-color: #e1ebff;
    --secondary-light-color: #f0f3f9;
    --white-color: #fff;
    --black-color: #000;
    --light-gray: #F5F7FA;
    --font-color: #4c4c4c;


    /* fonts style */
    --body-font: 'Raleway', sans-serif;
    --headline-font: 'Inknut Antiqua', serif;
    --normal-font-size: 1rem;

    /* radius */
    --radius: 0.25rem;
    --radius-sm: 0.125rem;
    --radius-md: 0.375rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.625rem;
    --radius-xxl: 0.75rem;
    --radius-pill: 50rem;
    --radius-circle: 50%;
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--body-font);
    color: var(--font-color);
    background-color: var(--secondary-light-color);
    overflow-x: hidden;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 0;
    /*    margin-bottom: 0;*/
    font-family: var(--headline-font);
    font-weight: 500;
    letter-spacing: -.05em;
}

h1,
.h1 {
    margin-bottom: 0.5em;
    color: var(--primary-color);
    font-size: 4.71em;
    line-height: 110%;
}

h2,
.h2 {
    margin-bottom: 0.7em;
    color: var(--primary-color);
    font-size: 3.333em;
    line-height: 120%;
}

h3,
.h3 {
    margin-bottom: 0.5em;
    color: var(--primary-color);
    font-size: 2.34em;
    line-height: 100%;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: Raleway, sans-serif;
    color: #4c4c4c;
    font-size: .83em;
    line-height: 180%;
    font-weight: 500;
}

img {
    max-width: 100%;
}

.height-100 {
    height: 100vh
}

@media(min-width:992px) {
    body {
        /*font-size: calc(0.75rem + 0.25vw);*/
        font-size: 1vw;
    }
}


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                    BOOTSTRAP OVERRITE
::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.container {
    max-width: 74.96em;
}

@media(max-width:991px) {
    .container {
        max-width: 41.4em;
    }
}

@media(max-width:767px) {
    .container {
        max-width: 31.4em;
    }
}

@media(max-width:479px) {
    .container {
        max-width: 21.4em;
    }
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid var(--primary-color);
}

.btn {
    --bs-btn-padding-x: 1.5rem;
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-font-size: 0.875em;
    --bs-btn-font-weight: 700;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary-color);
    --bs-btn-border-color: var(--primary-color);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0b5ed7;
    --bs-btn-hover-border-color: #0a58ca;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--primary-color);
    --bs-btn-disabled-border-color: var(--primary-color);
}

.btn-secondary {
    --bs-btn-color: var(--primary-color);
    --bs-btn-bg: var(--secondary-color);
    --bs-btn-border-color: var(--secondary-color);
    --bs-btn-hover-color: var(--primary-color);
    --bs-btn-hover-bg: var(--secondary-light-color);
    --bs-btn-hover-border-color: var(--secondary-light-color);
    --bs-btn-focus-shadow-rgb: 0;
    --bs-btn-active-color: var(--primary-color);
    --bs-btn-active-bg: var(--secondary-light-color);
    --bs-btn-active-border-color: var(--secondary-light-color);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: var(--secondary-color);
    --bs-btn-disabled-border-color: var(--secondary-color);
}

@media(max-width:991px) {
    .btn {
        --bs-btn-font-size: 0.875rem;
    }
}

.form-label {
    color: #202124;
    font-size: .83em;
    font-weight: 700;
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                    COMMON
::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.div-block-600 {
    max-width: 600px;
}

.div-block-700 {
    max-width: 700px;
}

.div-block-800 {
    max-width: 800px;
}

.mb_40 {
    margin-bottom: 2.08em;
}

.mb_80 {
    margin-bottom: 4.17em;
}

.py-5em {
    padding-top: 5em;
    padding-bottom: 5em;
}

.py-6em {
    padding-top: 6em;
    padding-bottom: 6em;
}

.py-7em {
    padding-top: 7em;
    padding-bottom: 7em;
}

.py-8em {
    padding-top: 8em;
    padding-bottom: 8em;
}

.pt-5em {
    padding-top: 5em;
}

.pt-6em {
    padding-top: 6em;
}

.pt-7em {
    padding-top: 7em;
}

.pt-8em {
    padding-top: 8em;
}

.pb-5em {
    padding-bottom: 5em;
}

.pb-6em {
    padding-bottom: 6em;
}

.pb-7em {
    padding-bottom: 7em;
}

.pb-8em {
    padding-bottom: 8em;
}

.input-group-outline .form-control {
    background-color: transparent;
}

.paragraph-lg p {
    font-size: 1.18em;
    font-weight: 500;
}

p:last-of-type {
    margin-bottom: 0;
}

.sub-title {
    display: block;
    color: #4c4c4c;
    font-size: .83em;
    line-height: 100%;
    font-weight: 800;
    letter-spacing: .2em;
    text-transform: uppercase;
    position: relative;
}

.sub-title:after {
    content: "";
    width: 5.73em;
    height: 0.1em;
    margin-left: 0.5rem;
    background-color: #4c4c4c;
    position: absolute;
    top: calc(50% - 1px);
}

.cms-content .sub-title {
    margin-bottom: 3.8em;
}

@media(max-width:767px) {
    .paragraph-lg p {
        font-size: 16px;
    }
}


@media(max-width:479px) {
    .cms-content {
        font-size: 13px;
    }

    .sub-title {
        font-size: 1em;
    }
}

/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::::
                    INTRO
::::::::::::::::::::::::::::::::::::::::::::::::::::::::: */

.intro {
    /*    padding-top: 6em;*/
    background-color: var(--secondary-color);
}

.intro-grid ul {
    margin: 0;
    padding: 0;
}

.intro-grid ul li {
    list-style: none;
}


.intro-grid>ul {
    /*    padding-bottom: 3em;*/
}

.intro-grid>ul>li:nth-of-type(1) {
    font-size: 0.625rem;
}

.intro-grid>ul>li:nth-of-type(1) h1 {
    margin-top: 0;
    margin-bottom: 0.4em;
}

.intro-grid>ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.intro-grid>ul>li {
    position: relative;
}

.intro-grid>ul>li:nth-of-type(1) {
    grid-row: auto / auto;
    grid-column: auto / span 12;
}

.intro-grid>ul>li:nth-of-type(2) {
    grid-row: auto / auto;
    grid-column: auto / span 5;
}

.intro-grid>ul>li:nth-of-type(3) {
    grid-row: auto / auto;
    grid-column: auto / span 7;
}

ul.material-list li .material-box {
    text-align: right;
}

ul.material-list li .label-title {
    margin-bottom: 0.83em;
    font-family: Raleway, sans-serif;
    font-size: .63em;
    line-height: 100%;
    font-weight: 700;
    text-align: right;
    white-space: nowrap;
    color: #4c4c4c;
}

ul.material-list li .label-title:first-of-type {
    text-transform: uppercase;
}

ul.material-list li .label-title:last-of-type {
    margin-top: 0.5rem;
}

ul.material-list li .metrics {
    font-family: 'Inknut Antiqua', sans-serif;
    color: var(--primary-color);
    font-size: 2.34em;
    line-height: 100%;
    font-weight: 700;
    text-align: right;
    letter-spacing: -.05em;
}

.intro-bottle,
.bottle-position,
.bottle-bg {
    position: absolute;
}

ul.material-list li {
    margin-bottom: 3rem;
}

@media(min-width: 280px) {
    .intro-grid>ul {
        padding-top: 4em;
    }

    ul.material-list li {
        grid-column: auto / span 6;
    }

    .intro-bottle {
        left: 3.33em;
        top: -3em;
        width: 18.96em;
        height: 45.89em;
    }

    .bottle-position {
        left: 50%;
        top: auto;
        bottom: 0;
        z-index: 200;
        width: 18.85em;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .bottle-bg {
        left: 50%;
        bottom: 0;
        z-index: 100;
        width: 20.5em;
        height: 43.23em;
        background-color: #a6b9e1;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}

@media(min-width: 480px) {
    .intro-grid>ul {
        padding-top: 4.88em;
    }

    .intro-grid>ul>li:nth-of-type(1),
    .intro-grid>ul>li:nth-of-type(2) {
        grid-row: auto / auto;
        grid-column: auto / span 10;
    }

    .intro-grid>ul>li:nth-of-type(3) {
        grid-row: 1 / span 2;
        grid-column: 11 / span 2;
    }

    .intro-grid>ul>li:nth-of-type(1) {
        font-size: 0.813rem;
    }

    ul.material-list {
        display: flex;
        flex-wrap: wrap;
    }

    ul.material-list li {
        /*        display: inline-block;*/
    }

    ul.material-list li:not(:last-of-type) {
        margin-right: 2rem;
    }

    .intro-bottle {
        left: -3em;
        top: 5em;
        /* bottom: 0; */
        width: 18.96em;
        height: 42em;
    }

    .bottle-position {
        left: 50%;
        /* top: auto; */
        /* bottom: 0; */
        z-index: 200;
        width: 18.85em;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .bottle-bg {
        left: 50%;
        top: auto;
        /* bottom: 0; */
        z-index: 100;
        width: 12em;
        height: 43.23em;
        background-color: #a6b9e1;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}


@media(min-width: 768px) {
    .intro-grid>ul {
        padding-top: 6.88em;
    }

    .intro-grid>ul>li:nth-of-type(1),
    .intro-grid>ul>li:nth-of-type(2) {
        grid-row: auto / auto;
        grid-column: auto / span 11;
    }

    .intro-grid>ul>li:nth-of-type(3) {
        grid-row: 1 / span 2;
        grid-column: 12 / span 1;
    }

    .intro-grid>ul>li:nth-of-type(1) {
        font-size: 0.875rem;
    }
}

@media(min-width: 992px) {
    .intro-grid {
        padding-bottom: 1em;
    }

    .intro-grid>ul>li:nth-of-type(1),
    .intro-grid>ul>li:nth-of-type(2) {
        grid-row: auto / auto;
        grid-column: auto / span 7;
    }

    .intro-grid>ul>li:nth-of-type(3) {
        grid-row: 1 / span 2;
        grid-column: 9 / span 4;
    }

    .intro-grid>ul>li:nth-of-type(1) {
        font-size: 1vw;
    }

    .intro-grid>ul>li:nth-of-type(1) p {
        margin-bottom: 2.08em;
    }

    .intro-bottle {
        left: 3.33em;
        top: -3em;
        width: 23.96em;
        height: 45.89em;
    }

    .bottle-position {
        left: 50%;
        /* top: auto; */
        bottom: 0;
        z-index: 200;
        width: 18.85em;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    .bottle-bg {
        left: 50%;
        bottom: 0;
        z-index: 100;
        width: 23.96em;
        height: 43.23em;
        background-color: #bfcdeb;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    ul.material-list {
        /*        margin-bottom: 1em;*/
    }
}

@media(min-width: 1400px) {
    .intro-grid {
        padding-bottom: 4em;
    }
}

@media(max-width:991px) {
    .intro {
        overflow: hidden;
    }

    ul.material-list {
        max-width: 480px;
    }
}

@media(max-width:767px) {
    .intro-grid.paragraph-lg>ul>li:nth-of-type(1) p {
        font-size: 14px;
        margin-bottom: 2.08em;
    }
}

/* :::::::::::::::::::::::::: SYMPTOMS :::::::::::::::::::::::::: */

.symptom-box h3 {
    font-size: 1.67em;
    line-height: 140%;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media(min-width: 768px) {
    .symptom-box h3 {
        height: 3em;
    }
}


@media(max-width: 767px) {
    .symptom-box p {
        font-size: 14px;
    }
}

/* :::::::::::::::::::::::::: THE SOLUTION :::::::::::::::::::::::::: */

ul.solution-grid {
    margin: 0;
    padding: 0;
}

ul.solution-grid li {
    list-style: none;
}

ul.solution-grid li img {
    margin-bottom: 3em;
}

ul.solution-grid li:nth-of-type(3) img {
    margin-top: 3em;
}

@media(min-width: 992px) {
    ul.solution-grid {
        display: -ms-grid;
        display: grid;
        width: 100%;
        grid-auto-columns: 1fr;
        grid-column-gap: 0.83em;
        grid-row-gap: 0em;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-auto-rows: -webkit-min-content;
        grid-auto-rows: min-content;
    }

    ul.solution-grid li:nth-of-type(1) {
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-column-span: 3;
        grid-column-end: 4;
        -ms-grid-row-align: start;
        align-self: start;
    }

    ul.solution-grid li:nth-of-type(2) {
        -ms-grid-column-span: 5;
        grid-column-end: 6;
        -ms-grid-column: 1;
        grid-column-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 3;
        -ms-grid-row: 2;
        grid-row-start: 2;
    }

    ul.solution-grid li:nth-of-type(3) {
        -ms-grid-row: 3;
        grid-row-start: 3;
        -ms-grid-row-span: 1;
        grid-row-end: 4;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 4;
        grid-column-end: 6;
    }

    ul.solution-grid li:nth-of-type(4) {
        -ms-grid-column: 7;
        grid-column-start: 7;
        -ms-grid-column-span: 6;
        grid-column-end: 13;
        -ms-grid-row: 2;
        grid-row-start: 2;
        -ms-grid-row-span: 3;
        grid-row-end: 5;
        -ms-grid-row-align: start;
        align-self: start;
    }

    ul.solution-grid li:nth-of-type(5) {
        -ms-grid-row: 4;
        grid-row-start: 4;
        -ms-grid-row-span: 1;
        grid-row-end: 5;
        -ms-grid-column: 2;
        grid-column-start: 2;
        -ms-grid-column-span: 4;
        grid-column-end: 6;
        display: none;
    }

    ul.solution-grid li:nth-of-type(4) p {
        padding-right: 8em
    }
}

@media(max-width: 991px) {
    ul.solution-grid li:nth-of-type(3) img {
        display: none;
    }

    ul.solution-grid li img {
        margin-top: 1em;
        margin-bottom: 2em;
        width: 100%;
    }

    ul.solution-grid li:nth-of-type(5) img {
        margin-bottom: 0;
    }
}

/* :::::::::::::::::::::::::: HOW WE ACHIEVE THIS :::::::::::::::::::::::::: */

.how-we-achieve {
    position: relative;
}

.how-we-achieve:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 7.8em;
    background-color: var(--secondary-color);
    z-index: -1;
}

/* :::::::::::::::::::::::::: TIME LINE :::::::::::::::::::::::::: */

ul.time-line-list {
    margin: 0;
    padding: 0;
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    grid-column-gap: 0em;
    grid-row-gap: 6em;
    -ms-grid-columns: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-auto-rows: -webkit-min-content;
    grid-auto-rows: min-content;
    position: relative;
}

ul.time-line-list li {
    list-style: none;
    position: relative;
}

.time-line-list h3 {
    font-size: 1.67em;
    line-height: 140%;
    font-weight: 600;
    color: var(--primary-color);
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


ul.time-line-list:before {
    content: "";
    position: absolute;
    width: 1px;
    top: 0;
    left: 8px;
    bottom: 0;
    background-color: #eb9d00;
}

ul.time-line-list li:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 100;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #dab572;
    transform: translateY(-50%);
}

ul.time-line-list li:first-of-type:before,
ul.time-line-list li:last-of-type:before {
    outline: 3px solid var(--secondary-light-color);
}

ul.time-line-list li:first-of-type:after,
ul.time-line-list li:last-of-type:after {
    content: "";
    height: 50%;
    width: 3px;
    background-color: var(--secondary-light-color);
    position: absolute;
    left: 7px;
}

ul.time-line-list li:first-of-type:after {
    top: 0;
}

ul.time-line-list li:last-of-type:after {
    bottom: 0;
}

@media(min-width:768px) {
    ul.time-line-list li {
        display: -ms-grid;
        display: grid;
        width: 100%;
        grid-column-gap: 10em;
        grid-row-gap: 0em;
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-auto-rows: -webkit-min-content;
        grid-auto-rows: min-content;
    }

    ul.time-line-list li:nth-of-type(odd) .time-img {
        grid-column: 2 / auto;
        grid-row: 1 / auto;
    }

    ul.time-line-list li:nth-of-type(odd) .time-content {
        grid-column: 1 / span 1;
    }

    ul.time-line-list li .time-img,
    ul.time-line-list li .time-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    ul.time-line-list:before {
        left: 50%;
        transform: translateX(-50%);
    }

    ul.time-line-list li:before {
        left: 50%;
        transform: translateX(-50%);
    }

    ul.time-line-list li:first-of-type:after,
    ul.time-line-list li:last-of-type:after {
        left: 50%;
        transform: translateX(-50%);
    }

}

@media(max-width: 767px) {
    ul.time-line-list li {
        padding-left: 4em;
    }

    ul.time-line-list li img {
        max-width: 12em;
    }
}

/* :::::::::::::::::::::::::: WHO WE ARE :::::::::::::::::::::::::: */

.strengths h3 {
    font-size: 1.18em;
    line-height: 180%;
    font-weight: 600;
    letter-spacing: -.05em;
    color: var(--primary-color);
}


/* :::::::::::::::::::::::::: CONTACT :::::::::::::::::::::::::: */

.error {
    color: rgb(255, 0, 0);
    font-size: 11px;
    font-weight: 500;
    position: absolute;
}

.contact-wrap {
    background-image: url("../images/footer-bg.jpg");
    background-color: #070b01;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.contact-wrap:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -moz-linear-gradient(top, rgba(36, 55, 91, 0) 0%, rgba(12, 29, 58, 1) 71%, rgba(2, 18, 45, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(36, 55, 91, 0) 0%, rgba(12, 29, 58, 1) 71%, rgba(2, 18, 45, 1) 100%);
    background: linear-gradient(to bottom, rgba(36, 55, 91, 0) 0%, rgba(12, 29, 58, 1) 71%, rgba(2, 18, 45, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0024375b', endColorstr='#02122d', GradientType=0);

}

.contact-wrap .container {
    position: relative;
}

.cms-content .contact-form .sub-title {
    margin-bottom: 2em;
}

.contact-form {
    margin-bottom: 14.84em;
    padding: 5em 0;
    background-color: var(--secondary-color);
}

.contact-form .form-control {
    margin-bottom: 0;
    padding-top: 0.42em;
    padding-bottom: 0.94em;
    padding-left: 0;
    border-style: none none solid;
    border-width: 1px;
    border-color: #000 #000 #202124;
    border-radius: 0;
    background-color: transparent;
    font-family: Raleway, sans-serif;
    font-size: .83em;
    line-height: .83em;
    font-weight: 500;
}

.contact-form .form-control:focus {
    border-color: var(--primary-color);
}

.contact-wrap .container h3 {
    margin-bottom: 2em;
    line-height: 180%;
    font-weight: 300;
    color: var(--secondary-color);
}

@media(max-width:767px) {
    .contact-wrap .container {
        max-width: 40em;
        padding-left: 0;
        padding-right: 0;
    }

    .footer-content {
        padding-left: 4em;
        padding-right: 4em;
        font-size: 13px;
    }
}

/* :::::::::::::::::::::::::: FOOTER :::::::::::::::::::::::::: */

footer.footer {
    background-color: #02122d;
}

footer.footer .container h3,
footer.footer .container .sub-title {
    color: var(--secondary-color);
}

footer.footer .container .sub-title {
    margin-bottom: 2.08em;
}

footer.footer .container .newsletter h3 {
    margin-bottom: 0.8em;
}

footer.footer .email-contact a {
    margin-top: 0.5em;
    margin-bottom: 1.75em;
    display: inline-block;
    font-family: Raleway, sans-serif;
    color: var(--secondary-color);
    font-size: 1.67em;
    line-height: 100%;
    font-weight: 500;
    text-decoration: none;
}

.newsletter .input-group-lg>.btn,
.newsletter .input-group-lg>.form-control,
.newsletter .input-group-lg>.form-select,
.newsletter .input-group-lg>.input-group-text {
    padding: 1.5em 2em;
    font-size: 0.83em;
    border-radius: 0;
    font-weight: 700;
}

.newsletter .input-group-outline .form-control {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.newsletter .input-group-outline .form-control::placeholder {
    /*    color: var(--secondary-color);*/
}

.newsletter .input-group-outline .form-control:focus {
    border-color: var(--primary-color);
}

.copy {
    color: var(--secondary-color);
}

/* scroll to top button */
/* .top-btn-position {
    position: fixed;
    bottom: 15px;
    right: 20px;
} */

.top-btn-style {
    position: fixed;
    bottom: 15px;
    right: 20px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.top-btn-style:hover {
    animation: none;
    background-color: var(--primary-color);
    color: #fff;
}

/* Meet the team */
.fix_img .symptom-box img {
    margin-bottom: 2.08em;
    height: 20em;
    object-fit: cover;
}

.fix_img .symptom-box h3 {
    font-size: 1.3em;
    line-height: 140%;
    font-weight: 600;
    letter-spacing: -.05em;
    margin-bottom: .3em;
    font-family: 'Inknut Antiqua', sans-serif;
    height: auto;
}

.fix_img .symptom-box h4 {
    color: #4c4c4c;
    font-size: 1.12em;
    font-weight: 500;
    margin-bottom: 1.25em;
    font-family: Raleway, sans-serif;
}

.fix_img .symptom-box p {
    margin-top: 0;
    margin-bottom: 0;
    color: #4c4c4c;
    font-size: .83em;
    line-height: 180%;
    font-weight: 500;

}