#root {
  max-width: 1280px;
  margin: 0;
}

h3 {
  color: yellow;
}

h4 {
  color: lightcoral;
}

p {
  color: white;
}

input {
  padding: 0.6rem;
}

.record {
  color: white;
  font-weight: bold;
  border: 1px dashed yellow;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 2em;
  box-shadow: 0 4px 8px 0 rgba(206, 213, 204, 0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
  padding: 2px 16px;
  border: 1px solid #aaa;
}

.read-the-docs {
  color: #888;
}
