@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #1a1a1c;
    color: #eee;
}

.coin-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    color: #eee;
}

.coin-search {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coin-text {
   margin-bottom: 15px;
   text-align: center;
}

.coin-input {
    padding-left: 16px;
    width: 250px;
    height: 35px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-image: linear-gradient(-225deg, #f0784c 0%, 
    #ee6837 48%, #ee4e32da 100%);
    color: #e2e2e2;
}
.coin-input::placeholder{
    color: #e2e2e2;
}